<div class="col-lg">

  <h2 class="mb-3">{{ include.title }}</h2>
  <p>
    {% for skill in include.source %}
      <span 
        {% if skill.style == "fill" %}
          class="badge badge-pill badge-{{ skill.color | default: 'primary' }}"
        {% elsif skill.style == "outline" %}
          class="badge badge-pill text-{{ skill.color | default: 'primary' }} border border-{{ skill.color | default: 'primary' }}"
        {% else %}
          class="badge badge-pill text-{{ skill.color | default: 'dark' }} border border-{{ skill.color | default: 'dark' }}"
        {% endif %}
        style="font-size:1rem;">
        {{ skill.name }}
      </span> 
    {% endfor %}
  </p>
</div>
